/* == BASIC PAGE STYLES == */

body {
  font-family: $mainFont;
  color: $mainTextColor;
  background-color: $mainBgColor;
  
  // Page content is not shown on screens with width less than 480px
  @include less-then-mobile {
    & {
    display: none;
  }
}
}
